Config/Database.php
AttendanceImage/
BankDocuments/
CustomerDocuments/
CCAttendanceImage/
ChatImages/
CustomerImage/
CustomerSignature/
CustomerThumb/
db_structure_and_report/
EnquiryImage/
EveryCustomerImage/
ExpenseDocuments/
gold_images/
jobDocuments/
KaratMachine/
MailDocuments/
OrnamentDocs/
PledgeDocuments/
QuotationImage/
ReleaseDocuments/
release_docs/
StockManagement/
WeightMachine/
KaratMachine/
ZonalImpsChatImages/