:root{
	--darkBackground: linear-gradient(rgba(2,0,36,1) 0%, rgba(5,3,66,1) 95%, rgba(29,6,56,1) 100%);
	--textColor: #EEEEEE;
	--primaryBackground: linear-gradient(135deg, #800793, #07CFBE);
	--dangerBackground: rgba(5,3,66,1);
}
.feedback-modal{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgb(0, 0, 0, 0.5);
	z-index: 1040;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.feedback-modal-content{
	min-width: 600px;
	width: 600px;
	height: 600px;
	background-image: var(--darkBackground);
	font-family: Arial, Helvetica, sans-serif;
}
.feedback-modal-content .header{
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	margin: 0px;
	color: var(--textColor);
	font-weight: 600;
	border-bottom: 1px solid gray;
	font-size: 18px;
}
.feedback-modal-content .feedback-body{
	width: 100%;
	height: 80%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
}
.feedback-modal-content .primary-btn,.feedback-modal-content .cancel-btn{
	width: 200px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: var(--textColor);
}
.feedback-modal-content .primary-btn{
	border: none;
	background-image: var(--primaryBackground);
}
.feedback-modal-content .cancel-btn{
	border-image: var(--primaryBackground) 1;
	border-width: 3px;
	border-style: solid;
	background-color: var(--dangerBackground);
}
.feedback-modal-content .question{
	text-align: center;
	font-size: 18px;
	color: var(--textColor);
	margin: 0;
}
.feedback-modal-content .answer-content{
	display: flex;
	flex-direction: row;
	gap: 20px;
}
.feedback-modal-content .answer-content .answer-yes-button{
	width: 150px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: var(--textColor);
	border: none;
	background-image: var(--primaryBackground);
}
.feedback-modal-content .answer-content .answer-no-button{
	width: 150px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: var(--textColor);
	border-image: var(--primaryBackground) 1;
	border-width: 3px;
	border-style: solid;
	background-color: var(--dangerBackground);
}
.feedback-modal-content .final-message{
	color:  var(--textColor);
	font-size: 20px;
}
.feedback-modal-content .img-style{
	width: 200px;
	height: 200px;
	object-fit: contain;
}
.qr-code-message{
	color: var(--textColor);
}

.tilt-shaking-button{
	animation: tilt-shaking 0.35s infinite;
}
@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}